.question-container {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .color-options {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .color-option {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
  }

  .color-option:focus, .color-option.active {
    outline: 2px solid black;
    outline-offset: 2px; /* Adds a slight gap between the button and the outline */
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-button {
    background: #b35d5d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  

  