.results-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    margin-left: 130px; /* Adjust for Sidebar width */
    margin-top: 130px; /* Adjust for BannerMenu height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
    position: relative;
  }
  
  .results-content {
    margin: 20px;
  }
  
  .results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    overflow: visible; /* Allow dropdowns to overflow this container */
  }

  
  .result-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .result-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .result-card h2 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .result-card a {
    display: block;
    color: #1e90ff;
    font-size: 0.95rem;
    margin-bottom: 10px;
    word-break: break-word;
  }
  
  .result-card p {
    font-size: 0.9rem;
    color: #666;
  }

  .result-card-link {
    text-decoration: none; /* Remove underline from link */
    color: blue;
    text-align: center;
  }

.add-button {
    margin-left: 90px;
    background: none;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#f1f1f1;
    border: 2px solid #633B48;
    border-radius: 8px;
    color:#633B48;
    font-size: 60px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.add-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.room-button {
    background-color: #f9f9f9;
    border: none;
    color: #333;
    padding: 15px 15px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    transition: 0.2s ease;
}

.room-button:hover {
    background-color: #f1f1f1;
}

.shared-rooms {
  border-top: 1px solid black;
  padding: 0px 20px;
}

.message-container {
  margin-left: 70px;
  justify-content: center;
}

.result-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation-buttons {
  display: flex;
  justify-content: center;
}

.navigation-buttons button {
  background-color: #633B48;
  opacity: 0.9;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px;
  transition: all 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #633B48;
  opacity: 1;
}
